RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/views/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /views/$1.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /views/index.html [L]