<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="Content-Type" content="text/html;">
        <meta charset = "utf-8">
        <title>Another page</title>
    </head>
    <body>
        <h1>Another page with any cats :3</h1>
        <h2>🙀🙀🙀🙀🙀🙀🙀🙀🙀🙀🙀</h2>
        <p>This page doesn't use any framework and you can write any another code.</p>
    </body>
</html>