<div class="component">
    <h2>Recursive stress-test with counter</h2>

    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
    <component src="/views/components/counter/controls/field-a.html" default></component>
    <component src="/views/components/counter/controls/field-b.html" default></component>
</div>

<script>
    console.log("Counter page with many fields opened.");
</script>

<style>
 .component > * {
    margin-bottom: 5px;
 }
</style>