<div class="component">
    <h2>Recursive stress-test with counter</h2>

    <component src="/views/components/counter/controls/field-a.html" name="field-a-0" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-0" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-1" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-1" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-2" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-2" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-3" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-3" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-4" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-4" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-5" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-5" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-6" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-6" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-7" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-7" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-8" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-8" default></component>
    <component src="/views/components/counter/controls/field-a.html" name="field-a-9" default></component>
    <component src="/views/components/counter/controls/field-b.html" name="field-b-9" default></component>
</div>

<script>
    console.log("Counter page with many fields opened.");
</script>

<style>

</style>