<span class="title">Home page with slider</span>

<div class="slider-board">
    <component src="/views/components/slider/slider.html" name="slider1" class="slider" variation="bird" default></component>
    <component src="/views/components/slider/slider.html" name="slider2" class="slider" variation="nature" default></component>
</div>

<style>
    .slider-board {
        display: block;
    }

    .slider {
        display: inline-block;
        padding: 10px;
    }

    .title {
        display: inline-block;
        padding: 20px;
        font-size: 22px;
        font-weight: 600;
    }
</style>