<script>
const model = {
    folder: component.attributes["variation"].value,
    imageSource: "",
    imageNames: [
        "imageD.jpg",
        "image2.jpg",
        "image3.jpg",
        "image4.jpg",
        "image5.jpg",
    ],
    imageIndex: 0,
    labelDisplayed: false,

    construct: function() {
        this.imageSource.value = this.getImageSource();
    },
    backCommand: function() {
        if(this.imageIndex.value > 0) {
            this.imageIndex.value--;
        } else {
            this.imageIndex.value = this.imageNames.value.length - 1;
        }
        this.imageSource.value = this.getImageSource();
    },
    nextCommand: function() {
        if(this.imageIndex.value < this.imageNames.value.length - 1) {
            this.imageIndex.value++;
        } else {
            this.imageIndex.value = 0;
        }
        this.imageSource.value = this.getImageSource();
    },
    labelCommand: function() {
        this.labelDisplayed.value = !this.labelDisplayed.value;
    },
    getImageSource: function() {
        return `/resources/images/slider/${this.folder.value}/${this.imageNames.value[this.imageIndex.value]}`;
    },
}

component.setModel(model, "slider");
</script>

<div class="component" template="slider">
    <div class="slider">
        <img class="animated-image" src="{{imageSource}}" title="Url: {{imageSource}}" alt="{{imageSource}}">
        <span class="label" visible="{{labelDisplayed}}">{{imageSource}}</span>
    </div>
    <div class="switcher">
        <div class="switcher-button" command="{{backCommand}}"></div>
        <div class="switcher-button" command="{{labelCommand}}"></div>
        <div class="switcher-button" command="{{nextCommand}}"></div>
    </div>
</div>

<style>
    .component {
        margin-top: 40px;
        width: 400px;
        height: auto;
    }

    .slider img {
        width: 350px;
        height: 350px;
    }

    .slider > .label {
        display: flex;
        color: #fff;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        margin-top: -20px;
    }

    .switcher {
        margin-left: 130px;
        padding: 10px;
        width: 100px;
    }

    .switcher > .switcher-button {
        transition-duration: 0.65s;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: mediumslateblue;
    }

    .switcher > .switcher-button:hover {
        background-color: rebeccapurple;
        cursor: pointer;
    }
</style>


<script>
    //demonstration of view-image animation in component

    const animationDurationMs = 260;
    const animationMinimalOpacity = 0.75;

    Array.from(component.getElementsByClassName("switcher-button")).forEach(button => {
        button.addEventListener("click", applyImageAnimation, false);
    });

    function applyImageAnimation() {
        var image = component.getElementsByClassName("animated-image")[0];
        image.style.opacity = animationMinimalOpacity;
        image.style.transitionDuration = `${animationDurationMs / 2}ms`;

        setTimeout(function() {
            image.style.opacity = 1;
        }, animationDurationMs);
    }
</script>